*{
    margin: 0px;
    padding: 0px;
}

ul li{
    padding: 20px;
}
<<<<<<< HEAD
<<<<<<< HEAD

p{

    color: rgb(0, 184, 184);
=======
p{
    color: aqua;
>>>>>>> c7b2030d0194d3ecbc6b44498816dc50d5e5f7d3
=======
p{
    color: blue;
>>>>>>> ae2b54f616bc11c4386641572d71c1c7974b20e7
}